.container {
    border: 3px solid black;
    height: 700px;
    width: 500px;
    background-color: #152238;
    display: grid;
    align-items: center;
    justify-content: center;
}

#calculator-body {
    /*border: 3px solid white;*/
    height: 600px;
    width: 400px;
    background-color: lightblue;
    border-radius: 50px;
    justify-content: center;
    align-items: center;

    grid-column: span 4;
    grid-row: span 4;


}

#display {
    width: 80%;
    height: 10%;
    background-color: #152238;
    /*margin: 30px;*/
}

