.container {
    border: 3px solid black;
    height: 700px;
    width: 500px;
    background-color: #152238;
    display: grid;
    align-items: center;
    justify-content: center;
}

#calculator-container {
    /*border: 3px solid white;*/
    height: 600px;
    width: 400px;
    background-color: lightblue;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#display {
    width: 80%;
    height: 10%;
    background-color: #152238;
    margin: 30px;
}

.buttons-container {
    width: 80%;
    height: 70%;
    border: 3px solid white;
    margin: 30px;
    display: grid;
}

button {
    height: 60px;
    background-color: #1c4966;
    border-radius: 25px;
    color: white;
    font-size: larger;
}

